.character-info {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    margin : 10%;
    padding: 0.5%;
    border-radius: 2%;
    overflow: hidden;
}
.character-info-bot{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    margin : 10%;
    padding: 2%;
    border-radius: 2%;
    overflow: hidden;
}

.character-imgcard {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
    margin: 2%;
    padding-right: 0px ;
    padding-left: 0px ;
    border-radius: 2%;
}

.characterDetailBG img{
    background-image:url("/public/img/BG.jpg.png");
    background-size: cover;
    background-position: center;
    transform: scale(1.0);
}




.character-bg{
    overflow: hidden;
    background-image:url("/public/img/BG.jpg.png");
    background-size: cover;
    background-position: 50% center;
}




.character-imgcard-info {
    text-align: center;
    background-color: rgba(31, 105, 252, 0.713);
    width: 100%;
    height: 8%;
    margin: 0;
    color: white;
}

.character-imgcard-info.ad{
    font-size: medium;
    color : #ffcc00 !important;
    font-weight: 700;
}

.character-imgcard-info.cn{
    font-size: x-large;
}

.character-imgcard-info.sv{
    color: gainsboro;
}


.fame{
    padding-top: 7% ;
    color:  #a78707;
    font-weight: bold;
    align-items:center;
    display: flex;
    font-size:medium;
}

.charName{
    font-size: xx-large;
}

.ad-gu-Name{
    display: flex;
    padding-top: 3% ;
}

.gu-Name{
    padding-left: 3%;
    margin-left: 3%;
    border-left: rgba(0, 0, 0, 0.5) solid 0.5px;
    color:#a78707;
    font-weight: 300;
}

.ad-Name{
    color:green;
    font-weight: 300;
}


.menubar {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-weight: 100;
    padding-bottom: 3%;
}

.setItem{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 0;
    border-left: 0;
    overflow: hidden;
    margin: 1%;
    
}

.item-type{
    margin: 1%;
    border-right: 0.5px solid  rgba(0, 0, 0, 0.3);
}

.setItem .row{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); 
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    margin: 0.5%;
    text-align: center;
    align-items: center;
    height: auto;
    font-size: 14px;
    border-radius: 5px;
}

/* 아이템 레어리티 등급 */
.커먼{color:#000000; font-weight: 500; font-size: 18px; }
.언커먼{color:#68D5ED; font-weight: 500; font-size: 18px;}
.레어{color:#B36BFF; font-weight: 500;font-size: 18px;}
.유니크{color:#FF00FF; font-weight: 500; font-size: 18px;}
.에픽{color : #FFB400; font-weight: 500; font-size: 18px;}
.클로니클{color: #FF6666; font-weight: 500; font-size: 18px;}
.레전더리{color: #FF7800; font-weight: 500;font-size: 18px;}
/* .신화{color:} */
.태초{
    background: linear-gradient(to  top, #56cfff, hsl(131, 100%, 85%));
    color: transparent;
    -webkit-background-clip: text;   
    font-weight: 500;

}

.enchant-ul{
    list-style: none;
    display: flex;
    gap:12px;
    padding: 0;
    margin: 0;
    justify-content: center;
    color : gray;
    font-size:small;
    font-weight: 300;
    
}

.itemName_tune{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px ;
}

.itemName_tune .Name{
    font-size: 18px;
}



.menubar .col{
    border-right: 0;
    border-left: 0;
    padding: 2%;
}

.menubar.row{
    padding-bottom:0;
    border-bottom: 0.5px solid rgb(221, 221, 221);
}

.status.row {
    margin: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius:  4px;
    height: 60px;

}

.status.row .col-xl-5.col-lg-5{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.status.row .col-xl-7.col-lg-7{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:large;
}

.avatar.row{
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    margin: 4px;
    padding: 4px;
}
.slotName.col{
    border-right: 0.5px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex; 
}


.talisman-ul{
    list-style: none;
    padding-top: 2% ;
    padding-left:0 ;
    justify-content: center;
}

.talisman-ul li{
    margin: 3px;
    text-align: center;
 
}

.talisman-card{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius:  4px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: auto;
    margin: 2%;
}

.talisman-name{
    text-align: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 2%;
    font-size: large;
    font-weight: 600;
}

.talisman-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20%;
}

.status_detail{
    height: 55px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.status_detail.Name{
    border-right: 0.5px solid rgba(0, 0, 0, 0.2); 
}

.status_detail.Num{
    font-size: x-large;
    font-weight: bolder;
}

/* CharacterDetailTopCard */

.timeline{
    display: flex;
    justify-content: center;
    width: 630px;
    margin-top: 3%;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
}

.timeline .info{
    width: 600px;
    text-align: center;
    display: flex;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    margin: 2px;
    border-radius: 3px;
    height: 50px;
}

.timeline .info .date{
    font-size: small;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column  ;
    border-right:0.5px solid rgba(0, 0, 0, 0.2);;
    flex: 0 0 120px;
    height: 50px;
}

.timeline .info .img{
    flex: 0 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .info .name{
    flex: 0 0 270px;
    height: 50px;
    display: flex;
    align-items: center;
}
.timeline .info .server{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

