.character-card{
    justify-content: center;
    width: 300px;
    
}

.character-card.row{
    min-width: 936px;
}

.characterCardListPage{
    margin-top: 5%;
    overflow: visible;
    justify-content: center;
    display: flex;
    padding-top: 40px;
    min-width: 936px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.198); 
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 2%;
}

.character-card div:hover{
    transform: scale(1.03);
    background-color: #ffcc00;
    overflow:visible;
    cursor: pointer
    
}

.character-card .cardd{
    border-radius: 2%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    margin: 5px;
    justify-content: center;
    text-align: center;
    color: black;
}
.character-card .characterbg{
    height: 60%;
    background-image:url("/public/img/BG.jpg.png");
    background-size: cover;
    background-position: 50% center;
}

.character-card div:hover div:hover{
    transform: none;
    
}



.character-info-bot.row{
    display: flex;
    flex-direction: column;
    border: none !important;
    box-shadow: none !important;
}

.character-info-bot .Name{
    font-size: x-large;
    font-weight: bolder;

}

.character-info-bot .img{
    color: #a78707;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.character-info-bot .adv{
    color : green;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bolder;
}