.today-grade .row{
   
    display: flex;
    min-width: 720px; 
    overflow-x: hidden ;
    padding :2%;
    
} 

.todaygrade.container .row{
    padding: 5%;
    min-width: 720px;
}

.todaygrade.col{
    flex-direction: column;
    display: flex;
}