
/* 아이템 레어리티 등급 */
.커먼{color:#000000; font-weight: 500; font-size: 18px; }
.언커먼{color:#68D5ED; font-weight: 500; font-size: 18px;}
.레어{color:#B36BFF; font-weight: 500;font-size: 18px;}
.유니크{color:#FF00FF; font-weight: 500; font-size: 18px;}
.에픽{color : #FFB400; font-weight: 500; font-size: 18px;}
.클로니클{color: #FF6666; font-weight: 500; font-size: 18px;}
.레전더리{color: #FF7800; font-weight: 500;font-size: 18px;}
/* .신화{color:} */
.태초{
    background: linear-gradient(to  top, #56cfff, hsl(131, 100%, 85%));
    color: transparent;
    -webkit-background-clip: text;   
    font-weight: 500;

}


.auction{
    height:auto;
    border : 0.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    min-width: 540px;
    border-radius: 2%;
    margin-top:  8%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 6%;
}

.total_box{
    border : 0.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border-radius: 2%;
    min-width: 471px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    border-bottom : 0.5px solid rgba(0, 0, 0, 0.3);
    margin-top: 2%;
    flex: 0 0 90%;
   padding-bottom: 3%;
   display: flex;
   flex-direction: row;
}

.result_card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.auction .total_box .search_result{
    border : 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    margin: 2%;
    overflow-y: scroll;
    display: flex;
    height: 500px;
}
/* 필터 목록 */

.search_filter{
    margin: 2%;
    display: flex;
    margin-right: 0%;
    margin-left: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.list_plus{
    border: 0px;
    border-radius: 0;
    background-color: white;
    padding: 0px;
}

.detailEnd .col{
    border : 0.5px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 3% ;
    margin-left: 3%;
}

.detailEnd .col:hover{
    background-color: rgba(0, 0, 0, 0.039);
}

.detailEnd{
    padding: 0%;
}

/* ItemCard */

.auction_item_card{
    display: flex;
    justify-content: center;
    padding-top:2%;
    padding-bottom: 2%;
    height: 70vh;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.139);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border-radius: 2%;
}

.auction_item_card .card{
    border: 1px solid rgba(0, 0, 0, 0.139);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
    margin-top:2px ;
    margin-bottom:2px;
    height: fit-content;
    cursor: pointer;
    
}

.auction_item_card .img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

 .item-name{
    white-space: normal;
    word-break: keep-all;
    overflow-wrap:anywhere;
    text-align: center;
    display: flex;
    align-items: center;
}

.auction_item_card .card .item-price{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1%;
    color:#d79c12
}

.item-text-Info{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}   