
.nav-section {
   height: 40vh ;
   display: flex;
   justify-content: center;
   min-width: 720px;
   overflow-x: hidden;
}

.nav-section:hover {
    cursor: pointer
}

.nav-section img{
   height: 100%;
   width: 500px
}

.homepage .Container{
   min-width: 1012px;
   overflow-x: hidden;
   justify-content: center;
   display: flex;
 }

 .CSHTOP{
   min-width: 720px;
   overflow-x: hidden;
   justify-content: center;
   display: flex;
   overflow: visible;
 }

 .homepage{
   min-width: 720px;
   overflow-x: hidden;
 }

 .homepage .container{
   min-width: 720px;
   overflow-x: hidden;
 }

