.footer.container {
    padding: 30px ;
    font-size: 14px;
    color: #666;
  }
  
  .footer .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer .logo img {
    height: 60px;
  }

  .footer .right {
    text-align: right;
    white-space: nowrap;
  }